<p style="color: green"><%= notice %></p>

<% content_for :title, "Flights" %>
<%= form_with url: "/flights", method: :get do |f| %>
  <%= f.label 'Departing from:' %>
  <%= f.collection_select :departure_airport, Airport.all, :id, :code %>
  <%= f.label 'Destination:' %>
  <%= f.collection_select :arrival_airport, Airport.all, :id, :code %>
  <%= f.label 'Number of passengers (1-4):' %>
  <%= f.select :passengers, [1, 2, 3, 4] %>
  <%= f.label 'Date:' %>
  <%= f.select :start_datetime,
      Flight.distinct.order(:start_datetime).pluck(:start_datetime).map { |dt| [dt.strftime('%B %d, %Y'), dt.to_date] },
      { include_blank: "Select date" } %>
  <%= f.submit "Search" %>
<% end %>

<h1>Flights</h1>

<div id="flights">
  <% if @flights.exists? %>
    <%= form_with url: flights_path, method: :get do |form| %>
      <%= form.hidden_field :passengers, value: params[:passengers] %>
      <div class="flight-options">
        <% @flights.each do |flight| %>
            <div class="flight-option" style="display: flex; margin-right: 20px;">
            <%= form.radio_button :flight_id, flight.id, id: "flight_#{flight.id}" %>
            <%= form.label "flight_#{flight.id}" do %>
              <%= render flight, loading: :lazy %>
            <% end %>
            </div>
        <% end %>
      </div>
      <%= form.submit "Book Selected Flight" if @flights.any? %>
    <% end %>
  <% else %>
    <p>No flights found. Please try searching again.</p>
    <%= link_to 'See all flights', flights_path %>
  <% end %>
</div>
