<h1>Bookings#new</h1>

<%= @booking.inspect %>

<h2>Passenger Information</h2>
<%= @booking.passengers.inspect %>
<%= form_with(model: @booking, local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :flight_id %>

  <% @booking.passengers.each_with_index do |passenger, index| %>
    <div class="passenger-fields">
      <h3>Passenger <%= index + 1 %></h3>
      <%= form.fields_for :passengers, passenger do |passenger_form| %>
        <div class="field">
          <%= passenger_form.label :name %>
          <%= passenger_form.text_field :name, required: true %>
        </div>

        <div class="field">
          <%= passenger_form.label :email %>
          <%= passenger_form.email_field :email, required: true %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Create Booking" %>
  </div>
<% end %>
