<h1>Bookings#new</h1>

<h2>Passenger Information</h2>
<%= form_with(model: @booking, local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :flight_id %>

<div data-controller="passenger">
  <div data-passenger-target="container" id="passengers-container">
    <% @booking.passengers.each_with_index do |passenger, index| %>
      <%= render partial: 'passenger_fields', locals: { form: form, passenger: passenger } %>
    <% end %>
  </div>

  <template data-passenger-target="template">
    <%= render partial: 'passenger_fields', locals: { form: form, passenger: Passenger.new } %>
  </template>

  <%= button_tag "Add Another Passenger",
                type: "button",
                data: { action: "click->passenger#addPassenger" },
                class: "btn" %>
</div>
</div>

  <div class="actions">
    <%= form.submit "Create Booking" %>
  </div>
<% end %>
